
<!-- <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legeond]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div> -->
  <div style="display: block;width: 847px;" *ngIf="chartReady">
    <canvas
        baseChart
        [chartType]="barChartType"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  <button appColorDirective  class="sample"> Sample Button </button>