<!-- <p>app-footer works!</p> -->
<!-- <header class="page-header font-small blue">

    <div class="header-copyright text-center py-3"> 
        <h3> HTC Global Services</h3>
            <header  id="header"> {{ username }}</header>
    </div>
  
</header> -->

<h5>HTC Global Service : {{ username }}</h5>
<button id= "client" class="btn btn-default btn-sm" routerLink="/clients/load-clientDetails">Go to Client Details</button>
<button id= "logout" (click) = logOut() type="button" class="btn btn-default btn-sm">
    Log out
   <i class="fas fa-sign-out-alt"></i>
 </button>