 
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: pink;  
}  
#center {
  border: 5px solid pink;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  }
button {    
       background-color: #4CAF50;   
       width: 100%;  
        color: rgb(89, 0, 255);   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;
        font-size: 15px;   
         }   
 form {   
        border: 3px solid #f1f1f1;   
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box; 
        font-size: 15px;  
    }  
 /* button:hover {   
        opacity: 0.5;   
    }    */  
      
 .container {   
        padding: 50px;   
        background-color: lightblue;  
    }   
