<!-- <p>app-footer works!</p> -->


  <!-- <footer id="footer" class="footer-copyright text-center py-3" style = "position:sticky;bottom:0;width:100%;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer> -->
  <!-- <footer class="footer"><h5>  © 2020 Copyright: <a class="text-dark" href="https://angular.com/">angular.com</a> </h5></footer> -->
