<!-- <p>first-component works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- <header id="header">
    <h1>{{this.username}}</h1>
</header> -->
<button appColorDirective class="sample"> Sample Button </button>



<app-second-component>
    
</app-second-component>
